<div class="top_chat">
  <div class="left_header">
    <div class="chat_title">
      <p>hogefuga</p>
    </div>
  </div>
  <div class="right_header">
    <div class="chat_finish">
      <%= link_to 'チャットを終了する' '' %>
    </div>
  </div>
</div>

<div class="center_chat">
  <%= render partial: 'message', collection: @messages %>  
</div>

<%= form_with model: [@room,@message], class: "bottom_chat", local: true do |f| %>
  <div class="message_form">
    <%= f.text_field :content, class: "text_form", placeholder: "type a message" %>
    <label class="form-image">
      <span class="image-file">画像</span>
      <%= f.file_field :image, class: "hidden" %> 
    </label>
  </div>
  <%= f.submit "送信", class: "send" %>
<% end %>